DATABASE_URL="file:./dev.db"
AUTH_SECRET="dev-secret-change-in-production-please-use-32chars"
NEXTAUTH_URL="http://localhost:3000"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_PRICE_MONTHLY=""
STRIPE_PRICE_YEARLY=""
ADMIN_EMAIL="admin@vitavegan.app"
